
.cardForm{
    margin: 5%;
    border: 1px solid darkorange;
    border-radius: 5px;
}

img{
    width: 150px;
    height: 150px;
    padding: 20px;
}

#submitBtn{
    padding: 10px;
}

.example-class{
    color: red;
}

.other-class{
    color: green;
}