<!-- <app-header></app-header> -->
<div align="center" style="margin-bottom: 5%;">
    <div style="margin-top: 3%;">
        <h3> - User Profile - </h3>
    </div>

    <div *ngIf="alert">
        <label style="color: red">{{msg}}</label>
    </div>
    <div *ngIf="!alert">
        <label style="color: green">{{msg}}</label>
    </div>


    <div class="profileClass" *ngIf="!editDetailsClicked">
        <table class="table-borderless"> 
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div align="center">
                                    <img src="./../../assets/200-2008697_account-customer-login-man-user-icon-login-icon.png" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Username: </label>
                            </td>               
                            <td>                                       
                                <p>{{userName}}</p>
                            </td>         
                        </tr>      
                        <tr>
                            <td>
                                <label>Password: </label>
                            </td>               
                            <td>                                       
                                <p>**********</p>
                            </td>         
                        </tr>                    
                        <tr>
                            <td>
                                <label>Phone Number:</label>
                            </td>
                            <td>
                                <p>{{userPhone}}</p>                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Wallet Amount </label>
                            </td>
                            <td>
                                <p style="color: seagreen;">&#8377;{{userAppWalletAmount}}.00</p>
                                <input id="walletInput" *ngIf="topUpBalanceClicked" type="number" placeholder="Enter top up amount" (change)="onKey($event)">
                            </td>
                        </tr>
                        <tr >
                            <td>
                                <button *ngIf="!topUpBalanceClicked" class="btn btn-warning" (click)="onClickEditDetails()">Edit Details</button>
                            </td>
                            <td>
                                <button *ngIf="!topUpBalanceClicked" class="btn btn-success" (click)="onClickTopUpWallet()">Top up Wallet</button>
                            </td>
                        </tr>
                        <tr *ngIf="topUpBalanceClicked">
                            <td colspan="2" align="end">
                                <button class="btn btn-success" (click)="updateWalletBalance()">Update wallet balance</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <div *ngIf="alert">
                    <label style="color: red">{{msg}}</label>
                </div>
                <div *ngIf="!alert">
                    <label style="color: green">{{msg}}</label>
                </div>
        </div>

        <div class="cardForm" *ngIf="editDetailsClicked">
            <form [formGroup]="userInfoUpdateForm" class="form-group" (ngSubmit)="submitUserUpdateInfoForm()">

                <table class="table-borderless"> 
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div align="center">
                                    <img src="./../../assets/200-2008697_account-customer-login-man-user-icon-login-icon.png" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color: red;">*</span>
                                <label>Username: </label>
                            </td>               
                            <td>                                    
                                <input type="text" formControlName="userName" class="form-control" value="{{userName}}">    
                            </td>         
                        </tr>                    
                        <tr>
                            <td>
                                <span style="color: red;">*</span>
                                <label>Password:</label>
                            </td>
                            <td>
                                <input type="password" formControlName="password" class="form-control" value="{{userPassword}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color: red;">*</span>
                                <label>Re-Enter Password:</label>
                            </td>
                            <td>
                                <input type="password" formControlName="re_password" class="form-control" value="{{userPassword}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color: red;">*</span>
                                <label>Phone Number:</label>
                            </td>
                            <td>
                                <input type="tel" formControlName="phoneNumber" class="form-control" value="{{userPhone}}"> 
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" align="center">
                                <div id="submitBtn">
                                    <input type="submit" class="btn-primary btn-block" value="Update" >
                                </div>                    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
     
</div>
