<!-- <app-header></app-header> -->
<div class="container-fluid" align="center">
    <div class="row">
        <label id="title1" class="col-12">Our Story</label>
    </div>
    <p class="col-12" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus animi facilis architecto praesentium illo voluptatibus neque sit reiciendis ipsum quia, aliquid magni dolores sunt aspernatur? Distinctio debitis illum explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus esse modi sunt iure dolorum magnam quasi, quaerat consequuntur at. Assumenda, quidem neque nemo aliquid quis placeat perspiciatis consequuntur eveniet?</p>
    <p class="col-12" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur, ea incidunt unde maiores illo esse vitae consectetur provident, eius earum? Consequuntur nemo cumque voluptatem fugiat, nostrum temporibus ratione eveniet.</p>
    <p class="col-12" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus animi facilis architecto praesentium illo voluptatibus neque sit reiciendis ipsum quia, aliquid magni dolores sunt aspernatur? Distinctio debitis illum explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus esse modi sunt iure dolorum magnam quasi, quaerat consequuntur at. Assumenda, quidem neque nemo aliquid quis placeat perspiciatis consequuntur eveniet?</p>

    <div class="row" >
        <div class="col-md-5 col-sm-12" >
            <img id="img_ingredients" src="./../../assets/stock-photo-raw-dough-for-pizza-with-ingredients-and-spices-on-table-526830277.jpg" alt="img" >
        </div>
        <div class="col-md-7 col-sm-12" id="gridDiv">
            <label id="title2">Ingredients</label>
            <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem culpa illo mollitia voluptates nemo magni velit est quae placeat. Adipisci officiis delectus maxime id quaerat? Fuga explicabo illo asperiores assumenda.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-12" id="gridDiv">
            <label id="title2">Our Chefs</label>
            <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem culpa illo mollitia voluptates nemo magni velit est quae placeat. Adipisci officiis delectus maxime id quaerat? Fuga explicabo illo asperiores assumenda.</p>
        </div>
        <div class="col-md-7 col-sm-12" >
            <img id="img_chef" src="./../../assets/stock-photo-happy-chef-437116033.jpg" alt="img">
        </div>
    </div>

    <div class="row">
            <div class="col-md-5 col-sm-12" >
                <img id="img_clock" src="./../../assets/stock-photo-vintage-analog-kitchen-countdown-timer-with-classical-clock-face-and-red-remaining-time-display-669255388.jpg" alt="img">
            </div>
            <div class="col-md-7 col-sm-12" id="gridDiv">
                <label id="title3">45 min delivery</label>
            </div>
        </div>
</div>